<ion-header>
  <ion-toolbar>
    <ion-title>
      <img height="20"   src="assets/img/svg/zoominLogo.svg" >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="slide-main">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/1a8945093238.jpg"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/1a8945093238.jpg"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/1a8945093238.jpg"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/1a8945093238.jpg"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/1a8945093238.jpg"/>
          </div>
        </ion-slide> 
           <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/1a8945093238.jpg"/>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-content>
</ion-content>
