<ion-header>
  <ion-toolbar>
    <ion-title>
      <img height="20"   src="assets/img/svg/zoominLogo.svg" >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <div class="slide-main">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/1a8945093238.jpg"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/6657f2131440.jpg"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/5adffd083438.jpg"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/23a19e064341.jpg"/>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/21668b055117.jpg"/>
          </div>
        </ion-slide> 
           <ion-slide>
          <div class="slide">
            <img src="assets/img/slides/da5dce053358.jpg"/>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="best-seller">
      <h6 class="title">Best Sellers</h6>
      <ion-card class="product">
        <img src="assets/img/bestseller/b14y67543432.jpg" />
        <ion-card-header>
          <ion-card-subtitle>8" Hardcover</ion-card-subtitle>
          <p>Starts at Rs. 999</p>
        </ion-card-header>
      </ion-card>
      <ion-card class="product">
        <img src="assets/img/bestseller/b14y67543432.jpg" />
        <ion-card-header>
          <ion-card-subtitle>6x6 Desktop Calendar</ion-card-subtitle>
          <p>Starts at Rs. 299</p>
        </ion-card-header>
      </ion-card>
      <ion-card class="product">
        <img src="assets/img/bestseller/b14y67543432.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Face MAsk</ion-card-subtitle>
          <p>Starts at Rs. 199</p>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="photo-books">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <h6 class="title">Photo Books</h6>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <h6 class="more"><a href=""> view more</a></h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>5.5" Softcover</ion-card-subtitle>
                <p>Starts at Rs. 299</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>10x8" Hardcover</ion-card-subtitle>
                <p>Starts at Rs. 1199</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>8x10" Softcover</ion-card-subtitle>
                <p>Starts at Rs. 599</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>8" Softcover</ion-card-subtitle>
                <p>Starts at Rs. 549</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="layflat-photobooks">
      <h6 class="title">Layflat Photobooks</h6>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Destination</ion-card-subtitle>
                <p>Starts at Rs. 2799</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="calendars">
      <h6 class="title">Calendars</h6>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>6x6 Desktop Calendar</ion-card-subtitle>
                <p>Starts at Rs. 299</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Landscape Wall Calendar</ion-card-subtitle>
                <p>Starts at Rs. 599</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Magnet Calendar</ion-card-subtitle>
                <p>Starts at Rs. 249</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Portrait Wall Calendar</ion-card-subtitle>
                <p>Starts at Rs. 499</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Poster Calendar</ion-card-subtitle>
                <p>Starts at Rs. 199</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>4.5x10 Desktop Calendar</ion-card-subtitle>
                <p>Starts at Rs. 349</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Destination</ion-card-subtitle>
                <p>Starts at Rs. 299</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="card-stock-prints">
      <h6 class="title">Card Stock Prints</h6>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>4" Square Prints</ion-card-subtitle>
                <p>Starts at Rs. 199</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>4x6 Card Prints</ion-card-subtitle>
                <p>Starts at Rs. 249</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>5x7 Card Prints</ion-card-subtitle>
                <p>Starts at Rs. 299</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Polaroid Prints</ion-card-subtitle>
                <p>Starts at Rs. 299</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="photo-prints">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <h6 class="title">Photo Prints</h6>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <h6 class="more"><a href=""> view more</a></h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>4x6 Photo Print</ion-card-subtitle>
                <p>Starts at Rs. 199</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>5x7 Photo Print</ion-card-subtitle>
                <p>Starts at Rs. 249</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>8x10 Photo Print</ion-card-subtitle>
                <p>Starts at Rs. 99</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>12x18 Photo Print</ion-card-subtitle>
                <p>Starts at Rs. 149</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="decor">
      <h6 class="title">Decor</h6>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Felt Letterboard Frame</ion-card-subtitle>
                <p>Starts at Rs. 999</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Framed Print</ion-card-subtitle>
                <p>Starts at Rs. 299</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Canvas Print</ion-card-subtitle>
                <p>Starts at Rs. 899</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Metal Print</ion-card-subtitle>
                <p>Starts at Rs. 299</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Enlargement</ion-card-subtitle>
                <p>Starts at Rs. 399</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Collage Poster</ion-card-subtitle>
                <p>Starts at Rs. 149</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="gifts">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <h6 class="title">Gifts</h6>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <h6 class="more"><a href=""> view more</a></h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Magnet</ion-card-subtitle>
                <p>Starts at Rs. 199</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Bag Tag</ion-card-subtitle>
                <p>Starts at Rs. 299</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Coffee Mug (Black)</ion-card-subtitle>
                <p>Starts at Rs. 299</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Color Inside Mug</ion-card-subtitle>
                <p>Starts at Rs. 299</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="display">
      <h6 class="title">Display</h6>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Decorative Clips</ion-card-subtitle>
                <p>Starts at Rs. 99</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Washi Tapes</ion-card-subtitle>
                <p>Starts at Rs. 249</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="stationery">
      <h6 class="title">Stationery</h6>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Planner</ion-card-subtitle>
                <p>Starts at Rs. 199</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Notebook</ion-card-subtitle>
                <p>Starts at Rs. 399</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="essentials">
      <h6 class="title">Essentials</h6>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="6" class="ion-no-padding">
            <ion-card class="product">
              <img src="assets/img/bestseller/b14y67543432.jpg" />
              <ion-card-header>
                <ion-card-subtitle>Face Mask</ion-card-subtitle>
                <p>Starts at Rs. 199</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-content>
